.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  .home-container h2 {
    color: #1d3cff;
  }
  .home-heading {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #1b44e6;
  }
  
  .home-subheading {
    font-size: 1.5rem;
    margin-bottom: 30px;
    color: #1d3cff;

  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  label {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  input {
    font-size: 1rem;
    padding: 5px;
    margin-bottom: 20px;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  }
  
  button {
    font-size: 1rem;
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: #0077cc;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  button:hover {
    background-color: #005fa3;
  }
  
  button:active {
    background-color: #004d80;
  }
  
  button[type="submit"] {
    background-color: #009933;
    margin-bottom: 10px;
  }
  
  button[type="submit"]:hover {
    background-color: #00802b;
  }
  
  button[type="submit"]:active {
    background-color: #00661a;
  }
  
  button[type="button"] {
    background-color: #cc0000;
  }
  
  button[type="button"]:hover {
    background-color: #a30000;
  }
  
  button[type="button"]:active {
    background-color: #800000;
  }
  